@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas", "K2D" sans-serif;
}
body {
    background-color: black;
    background-image: url("./servicios (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}

.conteudo {
    margin-top: 500px;
}

.partum {

}

.partum h2 {
    margin-left: 250px;
    font-size: 30px;
}

.fundo {
    display: flex;
    justify-content: center;
}

.fontred {
    color:#e91c22;
}