@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas", "K2D" sans-serif;
}
body {
    background-color: black;
    background-image: url("./servicios (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}

.content {
    margin-top: 550px;
}

.partone {
    align-items: center;
    justify-content: space-around;
}

.partone .first-txt {
    display: flex;
    flex-direction: column;
    
}

.partone h2 {

    font-family: "Bebas Neue" ;
    margin-left: 250px;
    font-size: 60px;
}

.partone button {
    display: flex;
    color: #fff;
    background-color: transparent;
    border: 2px solid #F52020;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 19px;
    padding: 14px 35px;
    margin: 100px auto auto auto;
}

.partone .icons {
    display: flex;
    flex-direction: column;
}

.first-txt .fontred {
    color:#e91c22;
    display: inline;
}

.flex-container {
    display: flex;
    max-width: 1150px;
    width: 100%;
    min-width: 300px;
    flex-direction: row;
}

.parttwo {
    margin: 350px 4% 50px 4%;
    align-items: start;
    justify-content: space-around;
   
   
}

.paragraph2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 25%;
    text-align: center;

}


.paragraph2 .fontred {
    display: flex;
    float: right;
    padding-left: 5px;
}


/********Maps********/

.maps{
    padding-bottom:5%;
    position:relative;
}

.maps iframe { 
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.819));
}



/********Tablet********/

@media(max-width: 1024px) {
    .maps {
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .maps iframe {
        padding-top: 20px;
        width: 40rem;
        margin: auto;
        height: 20rem;
        align-items: flex-start;
        justify-content: center;
    }

    .partdos {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-top: 40px;
    }

    .paragraph2 {
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
}

/********Celular********/

@media(max-width: 660px) {

    .partdos {
        margin: 1px;
    }
    .maps {
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .maps iframe {
        padding-top: 20px;
        width: 22rem;
        margin: auto;
        
        height: 20rem;
        align-items: center;
        justify-content: center;
    }

    .paragraph2 {
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
}

/********QuienSomos********/

.partthree {
    margin: 350px 4% 50px 4%;
    align-items: start;
    justify-content: space-around;
}

.partthree  img { 
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.819));
        width: 900px;
        height: 525.27px;
}
